.ui.menu
  .header.item SocialDdict
  = link_to "Personnes qui n'ont pas de parrain", admins_path, class: "item"
  = link_to "Lister les X utilisateurs ayant parrainé", listing_sponsorship_admins_path, class: "item"
  = link_to "Trouver le parrain initial à l’origine de l’inscription d’un utilisateur", admins_path, class: "item"
- if notice
  %p.ui.info.message= notice
- if alert
  %p.ui.error.message= alert
