- if @result_more_sponsorship.count > 1
  - info_css = "ui info message"
- else
  - info_css = "ui error message"

%p{ class: "#{info_css}"}
  = "Vous avez trouver  #{@result_more_sponsorship.count} utilisateurs qui on parrainés le plus de monde"
%table.ui.single.line.table
  %thead
    %tr
      %th Fullname
      %th sponsorship total
  %tbody
    - @result_more_sponsorship.each do |l|
      %tr
        %td
          = l[:user]
        %td
          = l[:count]
