<!DOCTYPE html>
<html>
<head>
  <title>Socialddict</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel='stylesheet' href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <% if request.path_info == '/admins' || request.path_info == '/admins/listing_sponsorship' || request.path_info == '/admins/listing_more_sponsorship' || request.path_info == '/admins/search_sponsorship_init' || request.path_info == "/admins/not_spoonsorschip" %>
      <%= render 'layouts/header/header_admin' %>
    <% else %>
      <%= render 'layouts/header/header_user' %>
    <%end %>
    <div class="ui container">
      <%= yield %>
    </div>

  </body>
</html>
