<!DOCTYPE html>
<html>
<head>
  <title>Socialddict</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel='stylesheet' href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <div class="ui container">
      <div class="ui menu">
        <div class="header item">SocialDdict</div>
        <% if user_signed_in? %>
          <%= link_to 'Editer le profil', edit_user_registration_path, class: "item" %>
          <%= link_to 'Parrainer un ami',   sponsorships_path, class: "item" %>
          <%= link_to 'Déconection', destroy_user_session_path, method: :delete, class: "right item" %>   
        <% else %>
          <%= link_to 'Connexion', new_user_session_path, class: "right item" %>
        <% end %>
      </div>
      <% if notice %>
        <p class="ui info message"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="ui error message"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
